@import '../src/style/variables.scss';
@import '../src/style/rem-calc.scss';
@import '../src/style/reset.scss';
@import '../src/style/btn.scss';
@import '../src/style/animation.scss';

html {
	background: var(--gray-dark);
}

main {
	max-width: rem-calc(800);
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
}


